.top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #6c567b;
    -webkit-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .top-layer.active {
    top: 100%;
  }
  .top-layer--2 {
    background: #393e46;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .top-layer--3 {
    background: #6c5b7b;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .top-layer--4 {
    background: #c06c84;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .top-layer--5 {
    background: #f67280;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
    70%{
        opacity: 0;
    }
	100% {
		opacity: 1;
	}
}